#parse("base.html")
#@mainLayout()

<main class="main">
    <header class="header">
        <div class="header__content">
            <h1 class="header__title">Fract'App</h1>
            <h2 class="header__subtitle">Vivez une expérience hors du commun !</h2>
        </div>

        <a class="next" href="#content">
            <p class="next__text">Découvrir</p>
            <div class="next__img-box">
                <img class="next__img" src="./img/next.svg" alt="next">
            </div>
        </a>
    </header>
    <div class="content" id="content">
        <div class="container">
            <canvas id="fractalCanvas" height="800" width="800" style="margin: 0 auto; cursor: crosshair;"></canvas>
        </div>
    </div>
</main>

#end
